*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main{
margin: auto;
width: 100%
}

#start{
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 60px;
}

header{
  background-color: #E8ECF1;
  height: 60px;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.sign-me{
  display: flex;
  justify-content: center;
}

.get-started{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header li{
  display: inline-block;
  padding: 0px 10px;
}

ul{
  margin: 0;
  padding: 0px 15px;
  text-transform: capitalize;
  list-style: none;
}

.end{
  display: flex;
  flex-flow: row wrap;
}

.packs{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.packs div{
  padding: 0px 50px;
}

header a{
  padding: 0px 5px;
}

.intro{
  background-color: #E8ECF1;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro h1{
  font-weight: normal;
}

.box-1{
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #414655;
}

.principles div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  width: 100%;
  padding: 0px 65px;
}

.principles div:last-child{
  border: none;
}

.principles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

}

.principles p{
  width: 200px;
  text-align: center;
}

.box-2{
  background-color: #E8ECF1;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-box2{
  max-width: 700px;
  font-size: 12px;
}

.sub-box2 p{
  font-size: 23px;
  padding-bottom: 10px;
}
